.App {
  text-align: center;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(214, 214, 213);
  width: 60%;
  margin: 0 auto; 
  margin-top: 20px;
  padding: 20px; 
}

.create_form input {
  width: 300px;
  padding: 10px;
  border: 2px solid;
  border-bottom: none; /* Removing bottom border */
  outline: none;
  margin-bottom: 5px;
  border-radius: 15px 0 0 15px;
}

.create_form button {
  padding: 10px;
  background-color: black;
  color: white;
  cursor: pointer;
  margin-bottom: 5px;
  border-radius: 0 15px 15px 0;
}

.task {
  display: flex;
  align-items: center;
  width: 365px;
  justify-content: space-between;
  background-color: black;
  color: white;
  height: 35px;
  padding: 2px 5px 2px 5px;
  margin-top: 10px;
}

.line_through {
  text-decoration: line-through;
}

.checkbox {
  display: flex;
  align-items: center;
}

.checkbox .icon {
  margin-right: 5px;
  font-size: 15px;
}

.task div span {
  margin: 0px 5px 0px 4px;
}

.task div .icon {
  cursor: pointer;
}
